# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files with LF line endings

** text eof=lf

## Declare files with CRLF line endings

## Declare binary files
